.entrusted-development
  %header.page-header
    .container
      %h1.page-header__title
        受託開発

  .development-main-visual
    .container
      .development-main-visual__inner
        %h2.development-main-visual__title.js-mojick
          満足度120%のシステムを
          %br
          ご提供いたします！
        -#
          .development-main-visual__body
            %p
              全社員がエンジニア経験者。だからこそ、エンジニアのスキルアップを応援します。

  .page-contents
    .page-contents__item
      .container.is-sm
        .development
          .development__anchor#development-1
          %h3.page-contents__item-title
            お客様の問題解決が最優先！
            %br
            不要なシステムはご提案しません。
          .development__body
            = image_tag("method-1.svg", class: "development__body-image")
            .is-long-text.js-mojick
              %p
                システムの開発はあくまでソリューションの手段の一つに過ぎません。
                %br
                業務の流れの改善や表計算ソフトの使用でお客様の問題が解決するのならば、システム化のご提案はあえて行いません。
                %br
                システム化が必要と判断した場合も、本当に必要な要件は何かを徹底的に分析する為、最少のコストでシステム化が可能です。

    .page-contents__item
      .container.is-sm
        .development
          .development__anchor#development-2
          %h3.page-contents__item-title
            システムのご提案～製造～導入まで、
            %br
            全て自社社員が担当します。
          .development__body
            = image_tag("method-2.svg", class: "development__body-image")
            .is-long-text.js-mojick
              %p
                極力外注を避けワンストップでシステムを開発することにより、お客様のご要望をプログラムの細部にまで反映することが可能です。
                %br
                また、全ての社員がエンジニア経験者の為、技術的に実現不可能なご提案をすることがありません。

    .page-contents__item
      .container.is-sm
        .development
          .development__anchor#development-3
          %h3.page-contents__item-title
            納品して終わり、という
            %br
            システム開発は行いません。
          .development__body
            = image_tag("method-3.svg", class: "development__body-image")
            .is-long-text.js-mojick
              %p
                実はシステム開発の「本当」の本番は導入・運用フェーズから始まります。
                %br
                どのようなシステムでも、導入後には「システムの目的や使用方法が業務担当者まで伝わっていない」「当初のシステム要件では想定されていなかった業務が見つかった」等の様々な課題が発生します。
                %br
                発生した課題の解決を怠ると、結果として「使用されない」システムとなってしまいかねません。
                %br
                弊社では、開発に携わったエンジニアが、導入教育や運用を直接サポートする為、お客様の疑問・質問に速やかにお答えできます。
                %br
                また、運用開始後に発生した課題についても、お客様と一緒に解決策を考えます。そのため、お客様だけに負担をお掛けすることはありません。まずは何でもご相談ください。

      .content-action
        = link_to "https://pro.form-mailer.jp/fms/32b3750033768", class: "content-action__link", target: "_blank" do
          受託開発のお問い合わせ
