.home-recruit
  .container
    .home-recruit__inner
      %h2.home-recruit__title
        コンピュータアドバイザーは<br>「エンジニア」が主役の会社です。
      .home-recruit__body
        %p
          全社員がエンジニア経験者。だからこそ、エンジニアのスキルアップを応援します。
      .home-method-action
        = link_to "/entrusted-development/index.html", class: "home-method-action__link" do
          採用情報
