.home-recruit
  .container
    .home-recruit__inner
      %h2.home-recruit__title.js-mojick
        コンピュータアドバイザーは<br>「エンジニア」が主役の会社です。
      .home-recruit__body
        %p
          全社員がエンジニア経験者。だからこそ、エンジニアのスキルアップを応援します。
      .content-action
        = link_to "/recruit/index.html", class: "content-action__link is-reversal" do
          採用情報
