.home-method
  .container
    .home-method__inner
      %header.home-content__header
        %h2.home-method__title.home-content__title
          全体のバランスを考え<br>最適なシステムをご提案
        %h2.home-method__title.home-content__sub-title
          だから120％の満足を提供できます
      .home-method-features
        .home-method-features__items
          .home-method-features-item
            %header.home-method-features-item__header
              %h3.home-method-features-item__title
                的確な要求分析
            .home-method-features-item__body
              %p
                現在お客様が抱えている問題を、様々な角度から分析、問題の解決、改善のためのご提案をいたします。そのために、色々な方から現状のヒアリングをさせていただき、ご提案させていただきます。

          .home-method-features-item
            %header.home-method-features-item__header
              %h3.home-method-features-item__title
                費用対効果の高いシステム開発
            .home-method-features-item__body
              %p
                パッケージソフトや簡易ツールの利用により、可能な限り製造コストを抑え要求に十分応えるシステムを開発します。また、可能な限り外注を控えることで、お客様のご意向を末端の開発者まで汲み取り、システムのアンマッチングをなくす開発を心がけています。

          .home-method-features-item
            %header.home-method-features-item__header
              %h3.home-method-features-item__title
                導入・運用まで安心のサポート
            .home-method-features-item__body
              %p
                お客様の思いを理解した開発担当者が導入教育、および導入後の運用をサポートします。お客様の意思を理解し、納品したシステムの隅々まで理解した技術者だからこそできるきめ細かなサポート、そして素早い対応をお約束します。

      .home-method-action
        = link_to "/entrusted-development/index.html", class: "home-method-action__link" do
          受託開発について
