.home-recruit
  .container
    .home-recruit__inner
      %h2.home-recruit__title
        プログラマーとして<br>圧倒的に成長できる職場
      .home-recruit__body
        %p
          中途・新卒採用をおこなっています。株式会社コンピュータアドバイザーにはXXXな制度やXXXな社員がいてXXXXだから、圧倒的な成長ができます。
      .home-method-action
        = link_to "/entrusted-development/index.html", class: "home-method-action__link" do
          採用情報
