.home-about
  .container
    .home-about__inner
      .home-content__header
        %h2.home-about__title.home-content__title
          「技術」のその先、
          %br
          「真のアドバイザー」を目指して
      .home-about__body
        .home-about__text.is-long-text
          %p
            お客様の信頼に支えられ、設立から30余年が経過しました。
          %p
            この間インターネットの発達とともに、メインフレーム全盛の時代からクライアント / サーバー・システムの時代へ、さらにはクラウド・コンピューティングの時代へと、私たちを取り巻く環境は大きく変わってきました。
            %br
            IT技術の進歩は目覚ましく、まさに日進月歩です。昨日までの最新技術が明日にはもう陳腐化することも珍しくありません。
          %p
            一方、グローバル化の進む世の中で、企業を取り巻く環境はますます複雑になり厳しさを増しています。
            %br
            「より戦力的なシステムをいかに効率的に構築するか？」 IT部門のテーマは、今まさに企業経営の重要なテーマのひとつとも言えます。
          %p
            このような環境の変化が目覚ましいIT業界に対して、どのように私たちがコミットしていくのか？
          %p
            私自身が重要視していることは「システムは問題解決の1つの手段に過ぎない」という認識をもつことです。
          %p
            私たちの仕事は、一言で表現すると「システム開発」です。
            %br
            ですがその本質は、お客様のITにまつわる問題を解決する「サービス業」ではないかと考えております。
            %br
            ですので「システムの開発」が目的になることは本末転倒と言えるでしょう。
          %p
            一見すると当たり前のことなのですが、ともすると技術志向に走りがちなITエンジニア達にとっては見過ごしがちなことでもあります。
          %p
            私たちコンピュータアドバイザーは単なるエンジニアの集団を超えて「真のアドバイザー」＝ITにまつわる問題解決のプロフェッショナルの集団になることを目指しております。
          %p
            まだまだ道半ばではありますますが、社員一人ひとりが技術と知識を磨き、お客様から「真のアドバイザー」と認めていただけるよう引き続き努力してまいります。
        .home-about-author
          .home-about-author__info
            .home-about-author__position
              株式会社コンピュータアドバイザー 代表取締役
            .home-about-author__name
              藤原 俊哉
