.home-about
  .container
    .home-about__inner
      .home-content__header
        %h2.home-about__title.home-content__title
          私たちの想い
      .home-about__body
        .home-about__text.is-long-text
          %p
            私は、これまでソフトウェアの受託開発の業界に１５年以上携わってきました。そして、多くの開発プロジェクトで、様々な問題が起きているのを目の当たりにしてきました。
          %p
            特にソフトウェアを使い始める段階になって使いにくかったり、使われない機能があるなど、それを直すにも、もはや人もおらず改修には非常にコストと時間がかかります。
          %p
            そうした問題は、そもそもが発注者と受注者の目指すゴールが、納品することか、その後に利用することなのか、すれ違っていたことに起因していると考えました。
          %p
            このすれ違いを解消するために「納品をなくせばうまくいく」のではないかという仮説のもとで始めたのが、月額定額で顧問スタイルで提供する「納品のない受託開発」です。
          %p
            納めて終わりの一時的な関係ではなく、最初から最後まで担当し、お客さまの一員としてビジネスの成長に貢献したいと考えています。そして、そういった関係を持てることは、担当する開発者にとっても、非常にやりがいのあることでもあります。
          %p
            ソフトウェアを求めるお客さまと、ソフトウェアを提供する開発者の両方を幸せにすること、それが私の目指すソフトウェア開発の姿です。
        .home-about-author
          = image_tag("sample-face.png", class: "home-about-author__image")
          .home-about-author__info
            .home-about-author__position
              株式会社コンピュータアドバイザー 代表取締役
            .home-about-author__name
              藤原 俊哉
