.home-works
  .container
    .home-works__inner
      %header.home-content__header
        %h2.home-works__title.home-content__title
          開発実績
      = partial "partials/main_works"
      .content-action
        .content-action__inner
          = link_to "/works/index.html", class: "content-action__link" do
            開発実績一覧
