.main-visual
  .container
    .main-visual__inner
      -#
        %h1.main-visual__logo
          = image_tag("logo-name.svg", alt: "コンピュータアドバイス株式会社", class: "main-visual__logo-image")
      %h2.main-visual__lead
        120％の満足を提供する<br>システム開発会社
