.faq__items.js-tab-content#js-view-2
  %h3.faq__items-title
    新卒採用向け Q&A
  .faq-item
    %header.faq-item__header
      %h3.faq-item__title
        どのような人物が向いていますか？
    .faq-item__body
      %p
        システムエンジニアとしての向上心がある方。また、長期的には、オールラウンダーとして顧客折衝や経営者的な視点を身に付けたい方には最適な環境だと思います。
  .faq-item
    %header.faq-item__header
      %h3.faq-item__title
        入社後はどのような仕事をすることになりますか？
    .faq-item__body
      %p
        まずはアプリケーションの製造～単体テストを担当してもらいます。その後は習熟度によって要件定義や設計等の工程のお仕事をお任せしていきます。
  .faq-item
    %header.faq-item__header
      %h3.faq-item__title
        文系の学生ですが、大丈夫ですか？
    .faq-item__body
      %p
        学部・学科は問いません。
  .faq-item
    %header.faq-item__header
      %h3.faq-item__title
        入社後に研修はしてもらえますか？
    .faq-item__body
      %p
        入社後、まず2ヶ月間の外部研修に参加して頂きます。外部研修の内容は、ビジネスマナーやプログラミングの基礎についてです。研修終了後は、社内でのOJTとなります。
  .faq-item
    %header.faq-item__header
      %h3.faq-item__title
        プログラミングの経験が無いので不安です...
    .faq-item__body
      %p
        問題ありません。入社後の外部研修で基礎力は身に付きます。外部研修後も先輩社員が優しくフォローアップします。
