.faq__items.js-tab-content#js-view-1
  %h3.faq__items-title
    新卒採用・キャリア採用共通 Q&A
  .faq-item
    %header.faq-item__header
      %h3.faq-item__title
        社員数を教えてください。
    .faq-item__body
      %p
        10名前後の少数精鋭です。
  .faq-item
    %header.faq-item__header
      %h3.faq-item__title
        どのような雰囲気の会社ですか？
    .faq-item__body
      %p
        落ち着いた雰囲気の会社です。特に業務時間中は静かです。
  .faq-item
    %header.faq-item__header
      %h3.faq-item__title
        勤務地を教えてください。
    .faq-item__body
      %p
        基本的に自社オフィスでの勤務となります。
  .faq-item
    %header.faq-item__header
      %h3.faq-item__title
        取引先の特徴を教えてください。
    .faq-item__body
      %p
        東京都内をはじめ、地方の中核都市に拠点を持つ大企業が主なお客様です。お客様との直接取引による受託開発業務であり、提案から受注・開発・納品・アフターフォローまで、基本的に弊社社員のみで作業を進めます。
  .faq-item
    %header.faq-item__header
      %h3.faq-item__title
        福利厚生について教えてください。
    .faq-item__body
      %p
        社会保険、各種休暇（夏季、年末年始、有給、慶弔、出産 / 育児 / 介護）、退職金制度のほか、会社負担で社員の医療保険を契約しています。
        %br
        夏季休暇は、7月から9月までの間で4日間取得可能です。
  .faq-item
    %header.faq-item__header
      %h3.faq-item__title
        寮や社宅はありますか？
    .faq-item__body
      %p
        残念ながら社員寮はありませんが、住宅手当を支給しています。
  .faq-item
    %header.faq-item__header
      %h3.faq-item__title
        有給休暇について教えてください。
    .faq-item__body
      %p
        入社してから6ヶ月後に当社の規則に則って付与されます。行使する場合は基本的には本人の希望通りにしますが、プロジェクト等が忙しい時期の場合は所属上長と要相談となります。
  .faq-item
    %header.faq-item__header
      %h3.faq-item__title
        就業時間を教えてください。
    .faq-item__body
      %p
        原則 9:15～18:00 となります。ですが、都度申請方式の変則的なフレックス勤務制度（コアタイム 11:00～16:00）を設けています。
  .faq-item
    %header.faq-item__header
      %h3.faq-item__title
        残業はありますか？
    .faq-item__body
      %p
        プロジェクトの進み具合によって変化します。納期が近い時期は残業することもあります。
  .faq-item
    %header.faq-item__header
      %h3.faq-item__title
        働く際の服装はどのようなものですか？
    .faq-item__body
      %p
        男性の場合は、原則としてスーツ着用です。ただし、通年通して社内でのネクタイの着用は任意となっています。お客様とお打合せする際にはネクタイの着用をお願いしています。
        %br
        5月から10月はクールビズを実施している為、ジャケットとネクタイの着用は不要です。
        %br
        女性の場合は、カジュアル過ぎなければ自由です。
  .faq-item
    %header.faq-item__header
      %h3.faq-item__title
        入社したらどのようなスキルが身につきますか？
    .faq-item__body
      %p
        エンジニアとしてのアプリケーション開発スキルは勿論のこと、各種の業務知識や法知識、顧客折衝能力まで身に付きます。
  .faq-item
    %header.faq-item__header
      %h3.faq-item__title
        書籍の購入支援について教えてください。
    .faq-item__body
      %p
        会社の業務内容や各個人のキャリア形成の目標を踏まえて、適切であると判断した書籍については会社で購入いたします。まずはご相談ください！
  .faq-item
    %header.faq-item__header
      %h3.faq-item__title
        平日開催のセミナーや勉強会に参加したいです。
    .faq-item__body
      %p
        適切な内容のセミナーであれば業務時間内で参加してきていただいて問題ありません。まずはご相談ください！
  .faq-item
    %header.faq-item__header
      %h3.faq-item__title
        社内行事等はありますか？
    .faq-item__body
      %p
        月一で社内勉強会を開催してナレッジの共有や技術の底上げを図っています。内容は毎月異なり、最新技術についての調査報告を行ったりディスカッションを目的としたレクリエーションを実施したりしています。
