.faq__items.js-tab-content#js-view-3
  %h3.faq__items-title
    キャリア採用向け Q&A
  .faq-item
    %header.faq-item__header
      %h3.faq-item__title
        選考基準について教えてください。
    .faq-item__body
      %p
        キャリア採用においては即戦力となる人材を希望しています。ですが、その方の人柄や経歴等を踏まえて今後経験不足を補っていけると判断して採用するケースもあります。
  .faq-item
    %header.faq-item__header
      %h3.faq-item__title
        応募条件を教えてください。
    .faq-item__body
      %p
        開発言語を問わずアプリケーション開発の実務経験がある方を希望します。.net系言語やRDBMSを使用したアプリケーション開発の経験があるとより望ましいです。
  .faq-item
    %header.faq-item__header
      %h3.faq-item__title
        給与はどのように決まりますか？
    .faq-item__body
      %p
        前職での経験や年齢、家族構成を考慮し総合的に算出します。
  .faq-item
    %header.faq-item__header
      %h3.faq-item__title
        勤務中のため日中に面接にいけません。
    .faq-item__body
      %p
        ご相談いただければ勤務時間外での面接も設定可能です。
