.interviewee
  .interviewee__image-container
    = image_tag("interviewee-2.svg", class: "interviewee__image")
  .interviewee__text
    %h3.interviewee__name
      システム推進部 Kさん
    .interviewee__profile
      %p
        大学を卒業後、
        %br
        2000年にコンピュータアドバイザーに新卒採用。

.interview__items
  .interview-item
    %header.interview-item__header
      %h3.interview-item__title.js-mojick
        自己紹介をお願いいたします。
    .interview-item__body.js-mojick
      %p
        Kです。新卒採用でこの会社に入りました。もう何年前の話なんだ…という感じですが（笑）

  .interview-item
    %header.interview-item__header
      %h3.interview-item__title.js-mojick
        大学時代からプログラミングやシステム開発にご興味がおありだったのですか？
    .interview-item__body.js-mojick
      %p
        そうですね、当時から興味はありました。
        %br
        大学時代は文系の学部だったのですが、たまたまとった情報処理の授業で簡単なプログラミングを教わって。
        %br
        「これはおもしろい」と思い、プログラミングが出来る仕事に就きたいなと。
  .interview-item
    %header.interview-item__header
      %h3.interview-item__title.js-mojick
        現在はどのようなお仕事をされていますか？
    .interview-item__body.js-mojick
      %p
        主に弊社のパッケージ製品について、設計からお客様の対応まで全て担当しています。
        %br
        その他にも、スケジュールによっては受託開発案件を担当することもあります。

  .interview-item
    %header.interview-item__header
      %h3.interview-item__title.js-mojick
        Kさんは新卒で入社されたとのことですが、当時の志望理由をお伺いしてもよいですか？
    .interview-item__body.js-mojick
      %p
        1つは会社の規模が小さかったことです。小規模の会社の中で幅広いことをやってみたいという意識がありました。
        %br
        あと、大企業で大勢の中の1人になるよるよりも自分の会社における存在感をだせるかなと思いました（笑）

  .interview-item
    %header.interview-item__header
      %h3.interview-item__title.js-mojick
        なるほど。実際に入社されてみていかがでしたか？
    .interview-item__body.js-mojick
      %p
        やはり1人あたりの責任範囲が広い為、大変な部分はありますね。
        %br
        けれども、その自分の責任範囲内ではある程度自由に仕事を進めることができる会社なのかなと思います。

  .interview-item
    %header.interview-item__header
      %h3.interview-item__title.js-mojick
        Kさんは新卒入社から現在まで、一度も転職されていませんよね。人材が流動的なIT業界では大変珍しいと思います。
    .interview-item__body.js-mojick
      %p
        はい、そうかもしれませんね。

  .interview-item
    %header.interview-item__header
      %h3.interview-item__title.js-mojick
        なぜ長期に渡り勤めることが出来たのだと思いますか？
    .interview-item__body.js-mojick
      %p
        お客様と直接対話をし、自分の手でシステムに組み込んでいくことが出来る環境だから、かもしれません。
        %br
        大変やりがいがありますし、日々新しい課題に直面するので、刺激の連続です。飽きませんね（笑）

  .interview-item
    %header.interview-item__header
      %h3.interview-item__title.js-mojick
        この会社に向いている方はどんな方だと思いますか？
    .interview-item__body.js-mojick
      %p
        「自習」が出来る方ですかね。この会社に限らずなのかもしれませんが。
        %br
        システムを開発する上では技術的な知識、お客様の業務知識、場合によっては法律の知識まで覚える必要があります。
        %br
        会社としてもある程度は学習のサポートはしますが、いかんせん規模が小さい会社の為、教育へのリソースは限界があります。
        %br
        ですので、自らどん欲に知識を身に付けることが出来ることが望ましいのかなと。

    %header.interview-item__header
      %h3.interview-item__title.js-mojick
        今後、この会社でやってみたいことはありますか？
    .interview-item__body.js-mojick
      %p
        業務システムだけじゃなくて、もっと広い分野のアプリケーションを造ってみたい気持ちはあります。
        %br
        Web上のBtoCのサービスやハードウェアの制御を伴うようなものとか。
        %br
        今までの我々のビジネス領域とは異なりますが、「アプリケーションの製造」という観点から考えれば弊社とは地続きのはずです。
        %br
        どこかのタイミングでそういった分野にも手を出せないかなと思っています。

  .interview-item
    %header.interview-item__header
      %h3.interview-item__title.js-mojick
        本日はありがとうございました。
    .interview-item__body.js-mojick
      %p
        ありがとうございました。
