.interviewee
  .interviewee__image-container
    = image_tag("interviewee-2.svg", class: "interviewee__image")
  .interviewee__text
    %h3.interviewee__name
      システム推進部　Ｍさん
    .interviewee__profile
      %p
        大学を卒業後、2009年にシステム開発に入社。
        %br
        2012年 コンピュータアドバイザーに中途採用。

.interview__items
  .interview-item
    %header.interview-item__header
      %h3.interview-item__title.js-mojick
        まずは自己紹介をお願いいたします。
    .interview-item__body.js-mojick
      %p
        はじめまして、Mです。よろしくお願いいたします。
        %br
        システムエンジニアとして、システムの設計からシステム基盤の構築まで広く担当させていただいています。
        %br
        よろしくお願いいたします。

  .interview-item
    %header.interview-item__header
      %h3.interview-item__title.js-mojick
        入社の決め手を教えてください。
    .interview-item__body.js-mojick
      %p
        コンピュータアドバイザーは、元請けでの開発・保守の案件が多い点ですね。
        %br
        社員数も少ないですし、所謂ウォーターフォール型開発で言うところの上流工程に携われるチャンスが必然的に多いはず、と考えました。
  .interview-item
    %header.interview-item__header
      %h3.interview-item__title.js-mojick
        この会社の魅力はどんなところですか?
    .interview-item__body.js-mojick
      %p
        自分が開発に携わったシステムに対して、本番リリース後も長く携わることができるところですね。
        %br
        どんなエンジニアも自分のベストを常に尽くしてアプリケーションを開発していると思うのですが、自分の設計やロジックが最良の選択だったかどうか、アプリケーションのリリース後しばらく経たないと判断がつかないケースが実は多いです。
        %br
        エンジニアは100%いいものを作ったと自負していても、実はユーザが求めていたものとずれていた。という話はよく聞きますよね?
        %br
        けれど、ユーザが「これじゃない」とアラートをあげた時点では、エンジニアは違う現場で違うシステムを開発している。
        %br
        「開発が終わったらすぐ別の現場や案件へ」という勤務形態では、作ったシステムに対するユーザの反応すら伺うことができないんです。

  .interview-item
    %header.interview-item__header
      %h3.interview-item__title.js-mojick
        実は「自分よがり」なシステムとなっていたとしても、それに気づく機会がない、と。
    .interview-item__body.js-mojick
      %p
        まさにそうですね。
        %br
        利用者の評価がなければ、PDCAサイクルを自分の中で回していくことはできません。
        %br
        PDCAサイクルを回せないということは、本質的な意味でのエンジニアのスキルアップは難しいのかなと思います。
        %br
        他の魅力としては、割とやりたいことをやらせてもらえる点ですかね。
        %br
        例えば、「今回はこの部分にこの技術を使いたい」と自分から強く提案したら、意外とOKがでます。
        %br
        もちろん、却下されることも多々ありますが（笑）、風通しは悪くない会社なのかなと思います。

  .interview-item
    %header.interview-item__header
      %h3.interview-item__title.js-mojick
        逆に、この会社の短所はなにかありますか?
    .interview-item__body.js-mojick
      %p
        この業界は日進月歩で新しい技術が生まれ、またスタンダードとされる開発方式も変遷してきています。
        %br
        ですが、それらをちゃんとキャッチアップ出来ているのかと聞かれると疑問は残りますね。

  .interview-item
    %header.interview-item__header
      %h3.interview-item__title.js-mojick
        ガラパゴス化が進んでいる?
    .interview-item__body.js-mojick
      %p
        そうともいえるかもしれないですね。会社の歴史が長い分、しょうがない部分もあるのですが...
        %br
        この先の10年や20年というスパンで考えたときに、現状維持ではきっと行き詰まってくる部分がでてくるのかな、と。
        %br
        ですので今後は、会社の新陳代謝を促していくような仕組みをなんとかつくれないかなと考えています。
        %br
        若い世代のエンジニアが新しいものをどんどん吸収して、それを会社が取り入れていくような、良い循環を生み出せないかなと模索中です。

  .interview-item
    %header.interview-item__header
      %h3.interview-item__title.js-mojick
        なるほど。最後に、どのような方がコンピュータアドバイザーで働くのに向いていると思いますか?
    .interview-item__body.js-mojick
      %p
        そうですね...これは私の意見なのですが、自分から意見を発信できる方はこの会社を楽しめるのかな、と思います。

  .interview-item
    %header.interview-item__header
      %h3.interview-item__title.js-mojick
        「主体性」が重要ということですね
    .interview-item__body.js-mojick
      %p
        その通りです。
        %br
        技術力も重要ではあるのですが、なによりも「こっちのやり方のほうがもっと良くなる！」と発信できる方。
        %br
        人数が少ない会社だからこそ、自分の存在が会社に与えられる影響が相対的に大きいんです。
        %br
        社員一人の意見が会社の方向を大きく左右することもあります。
        %br
        こういうのは大きい企業ではなかなか味わえない感覚ですので、きっと面白いと感じるはずです。

  .interview-item
    %header.interview-item__header
      %h3.interview-item__title.js-mojick
        本日はありがとうございました。
    .interview-item__body.js-mojick
      %p
        ありがとうございました。
