.recruit
  %header.page-header
    .container
      %h1.page-header__title
        採用情報
  .home-recruit
    .container
      .home-recruit__inner
        %h2.home-recruit__title.js-mojick
          コンピュータアドバイザーは<br>「エンジニア」が主役の会社です。
        .home-recruit__body
          %p
            全社員がエンジニア経験者。だからこそ、エンジニアのスキルアップを応援します。

  .page-contents
    .recruit-description.page-contents__item
      .container.is-sm
        %h3.recruit-description__title.page-contents__item-title
          あああああああああああああああああああ
        .recruit-description__body.is-long-text
          %p
            説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文。
          %p
            説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文。
          %p
            説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文。
          %p
            説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文。
          %p
            説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文。
          %p
            説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文。
          %p
            説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文。

        .page-contents__action
          = link_to "/entrusted-development/index.html", class: "home-method-action__link" do
            お問い合わせ


    .faq.page-contents__item
      .container.is-sm
        %h2.faq__title.page-contents__item-title
          ああああああああああああああ
        .faq__items
          .faq-item
            %header.faq-item__header
              %h3.faq-item__title
                質問ああああああああああああああああああああああああああああああああ
            .faq-item__body
              %p
                あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。
              %p
                あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。

          .faq-item
            %header.faq-item__header
              %h3.faq-item__title
                質問ああああああああああああああああああああああああああああああああああああああああああああああああああああ
            .faq-item__body
              %p
                あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。
              %p
                あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。

          .faq-item
            %header.faq-item__header
              %h3.faq-item__title
                質問あああああああああああああああああ
            .faq-item__body
              %p
                あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。
              %p
                あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。
              %p
                あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。

          .faq-item
            %header.faq-item__header
              %h3.faq-item__title
                質問ああああああああああああああああああああああああああああああああ
            .faq-item__body
              %p
                あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。
              %p
                あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。
              %p
                あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。

          .faq-item
            %header.faq-item__header
              %h3.faq-item__title
                質問ああああああああああああああああああああああああああああああああ
            .faq-item__body
              %p
                あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。
              %p
                あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。
              %p
                あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。あああああああああああああああああああああああああああああああああああああ。

        .page-contents__action
          = link_to "/entrusted-development/index.html", class: "home-method-action__link" do
            お問い合わせ
