---
title: 採用情報
description: コンピュータアドバイザーは「エンジニア」が主役の会社です。全社員がエンジニア経験者。だからこそ、エンジニアのスキルアップを応援します。
---

.recruit
  %header.page-header
    .container
      %h1.page-header__title
        採用情報
  .home-recruit
    .container
      .home-recruit__inner
        %h2.home-recruit__title.js-mojick
          コンピュータアドバイザーは<br>「エンジニア」が主役の会社です。
        .home-recruit__body
          %p
            全社員がエンジニア経験者。だからこそ、エンジニアのスキルアップを応援します。

  .page-contents
    .recruit-description.page-contents__item
      .container.is-sm
        %h3.recruit-description__title.page-contents__item-title
          あああああああああああああああああああ
        .recruit-description__body.is-long-text.js-mojick
          %p
            説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文。
          %p
            説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文。
          %p
            説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文。
          %p
            説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文。
          %p
            説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文。
          %p
            説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文。
          %p
            説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文。

        .page-contents__action
          .content-action__inner
            = link_to "/contact.html", class: "content-action__link" do
              お問い合わせ

    .interviews
      .container
        %h2.faq__title.page-contents__item-title
          社員インタビュー
        .row.is-gutter-width-40-lg-up.is-gutter-width-24-md-down
          .col-xs-12.col-md-6
            .interview
              = partial "recruit/interview_1"
          .col-xs-12.col-md-6
            .interview
              = partial "recruit/interview_2"

    .faq.page-contents__item
      .container.is-sm
        .page-contents__action
          = link_to "/contact.html", class: "content-action__link" do
            お問い合わせ
