.other-cases
  .container.is-sm
    .other-cases__items
      .other-cases-item
        .other-cases-item__inner
          %h3.other-cases-item__title
            社内情報システム（財務会計、管理会計、伝票電子決済、勤務・営業管理等の基幹システム）
          .other-cases-item__body
            %ul.other-cases-item__items
              %li.other-cases-item__item
                業種：物流業
              %li.other-cases-item__item
                アーキテクチャ：クライアント/サーバ型
              %li.other-cases-item__item
                開発技術：VB.Net2010、SqlServer2012
              %li.other-cases-item__item
                実行環境：.NET Framework4.0
      .other-cases-item
        .other-cases-item__inner
          %h3.other-cases-item__title
            営業事務の基幹システム（財務会計、予算管理、不動産売買代行業務システム）
          .other-cases-item__body
            %ul.other-cases-item__items
              %li.other-cases-item__item
                業種：不動産販売業
              %li.other-cases-item__item
                アーキテクチャ：クライアント/サーバ型、シンクライアント
              %li.other-cases-item__item
                開発技術：VB.Net2005、SqlServer2014
              %li.other-cases-item__item
                実行環境：.NET Framework2.0
      .other-cases-item
        .other-cases-item__inner
          %h3.other-cases-item__title
            営業情報システム（顧客管理、営業分析、週報管理システム）
          .other-cases-item__body
            %ul.other-cases-item__items
              %li.other-cases-item__item
                業種：不動産販売業
              %li.other-cases-item__item
                アーキテクチャ：クライアント/サーバ型、シンクライアント
              %li.other-cases-item__item
                開発技術：VB.Net2005、SqlServer2014
              %li.other-cases-item__item
                実行環境：.NET Framework2.0
      .other-cases-item
        .other-cases-item__inner
          %h3.other-cases-item__title
            受注・請求管理パッケージ
          .other-cases-item__body
            %ul.other-cases-item__items
              %li.other-cases-item__item
                業種：小型配送業
              %li.other-cases-item__item
                アーキテクチャ：クライアント/サーバ型、WebApi
              %li.other-cases-item__item
                開発技術：ActionScript3.0、Java1.5(Struts1.2) PostgreSql8.2
              %li.other-cases-item__item
                実行環境：Adobe Air1.5、CentOS5、Apache2.X
      .other-cases-item
        .other-cases-item__inner
          %h3.other-cases-item__title
            営業情報システム（顧客管理、営業分析、週報管理システム）
          .other-cases-item__body
            %ul.other-cases-item__items
              %li.other-cases-item__item
                業種：不動産販売業
              %li.other-cases-item__item
                アーキテクチャ：クライアント/サーバ型、シンクライアント
              %li.other-cases-item__item
                開発技術：VB.Net2005、SqlServer2014
              %li.other-cases-item__item
                実行環境：.NET Framework2.0
      .other-cases-item
        .other-cases-item__inner
          %h3.other-cases-item__title
            販売管理システム
          .other-cases-item__body
            %ul.other-cases-item__items
              %li.other-cases-item__item
                業種：土木建築業
              %li.other-cases-item__item
                アーキテクチャ：クライアント/サーバ型
              %li.other-cases-item__item
                開発技術：VB.Net2010、SqlServer2016
              %li.other-cases-item__item
                実行環境：.NET Framework4.0
      .other-cases-item
        .other-cases-item__inner
          %h3.other-cases-item__title
            人材派遣業総合業務支援パッケージ
          .other-cases-item__body
            %ul.other-cases-item__items
              %li.other-cases-item__item
                業種：人材派遣業
              %li.other-cases-item__item
                アーキテクチャ：クライアント/サーバ型
              %li.other-cases-item__item
                開発技術：Delphi7.0、SqlServer2012
              %li.other-cases-item__item
                実行環境：Windows 7以降
