.content-action
  .page-contents__item.is-short-description
    %p
      上記以外にも、業種問わず様々なシステムを手掛けております。
      %br
      その一部をご紹介いたします。

  .content-action__inner
    = link_to "/works/index.html", class: "content-action__link" do
      開発実績一覧に戻る
