.works
  %header.page-header
    .container
      %h1.page-header__title
        開発実績
  .page-contents
    = partial "partials/main_works"
    .other-cases
      .container.is-sm
        .other-cases__items
          .other-cases-item
            .other-cases-item__inner
              %h3.other-cases-item__title
                社内情報システム（会計、管理会計、伝票電子決済、勤務・営業管理等の基幹システム）
              .other-cases-item__body
                %p
                  概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。
                  概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。
          .other-cases-item
            .other-cases-item__inner
              %h3.other-cases-item__title
                社内情報システム（会計、管理会計、伝票電子決済、勤務・営業管理等の基幹システム）
              .other-cases-item__body
                %p
                  概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。
                  概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。
          .other-cases-item
            .other-cases-item__inner
              %h3.other-cases-item__title
                社内情報システム（会計、管理会計、伝票電子決済、勤務・営業管理等の基幹システム）
              .other-cases-item__body
                %p
                  概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。
                  概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。
          .other-cases-item
            .other-cases-item__inner
              %h3.other-cases-item__title
                社内情報システム（会計、管理会計、伝票電子決済、勤務・営業管理等の基幹システム）
              .other-cases-item__body
                %p
                  概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。
                  概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。
          .other-cases-item
            .other-cases-item__inner
              %h3.other-cases-item__title
                社内情報システム（会計、管理会計、伝票電子決済、勤務・営業管理等の基幹システム）
              .other-cases-item__body
                %p
                  概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。
                  概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要概要。
