---
title: 開発実績
description: 株式会社コンピュータアドバイザーの開発実績の一部を紹介しております。
---

.works
  %header.page-header
    .container
      %h1.page-header__title
        開発実績
  .page-contents
    .page-contents__item.is-short-description
      .container.is-sm
        %p
          下記以外にも、業種問わず様々なシステムを手掛けております。
          %br
          その一部をご紹介いたします。
    .container
      = partial "partials/main_works"
    = partial "works/other_cases"
