.profile
  %header.page-header
    .container
      %h1.page-header__title
        会社概要

.profile__body
  .container.is-sm
    %table.profile-table
      %tbody.profile-table__body
        %tr
          %th 会社名
          %td 株式会社 コンピュータアドバイザー
        %tr
          %th 所在地
          %td
            〒140-0001
            %br
            東京都品川区北品川2-11-1ベイテラス北品川20４
        %tr
          %th TEL
          %td 03-5769-3155
        %tr
          %th FAX
          %td 03-5769-3156
        %tr
          %th 設立
          %td 1983年10月
        %tr
          %th 営業種目
          %td
            コンピュータソフトウェアの開発及び販売
            %br
            事務合理化におけるコンサルティング及び教育
            %br
            コンピュータ及び通信に関する機器・機材の販売
            %br
            前各号に付帯する事業
        %tr
          %th 資本金
          %td 1,100万円
        %tr
          %th 役員
          %td
            代表取締役藤原俊哉
            %br
            取締役儀保真也
            %br
            取締役島影正孝
            %br
            監査役岩崎忠義
        %tr
          %th 取引銀行
          %td
            三菱東京UFJ銀行渋谷中央支店
            %br
            城南信用金庫 品川支店
        %tr
          %th 主要取引先
          %td
            丸紅情報システムズ株式会社
            %br
            丸紅リアルエステートマネジメント株式会社
            %br
            丸紅不動産販売株式会社
            %br
            日本道路株式会社
            %br
            エヌディーリース・システム株式会社
            %br
            株式会社シーライン東京
            %br
            株式会社パソナ
            %br
            株式会社ＮＴＴロジスコ
            %br
            リコージャパン株式会社
            %br
            キヤノンマーケティングジャパン株式会社
