---
title: 個人情報保護方針
description: 株式会社コンピュータアドバイザーは、コンピュータソフトウェアの開発及び販売を行ってまいりました。その間、当社従業員の情報を含めて個人情報の保護に関して細心の注意を払ってまいりましたが、昨今の個人情報の漏洩等の事件・事故が頻繁に取りざたされている状況に鑑み、私どもは改めて個人情報を保護、管理することが弊社の事業活動の根幹に関わる責務であることを再確認し、全ての従業員が以下の項目について取り組むべく宣言いたします。
---

.regal
  %header.page-header
    .container
      %h1.page-header__title
        個人情報保護方針
  .page-contents
    .container.is-sm
      .is-long-text
        %h2
          個人情報保護方針(プライバシーポリシー)について
        %p
          株式会社コンピュータアドバイザー(以下「当社」といいます)は、コンピュータソフトウェアの開発及び販売を行ってまいりました。その間、当社従業員の情報を含めて個人情報の保護に関して細心の注意を払ってまいりましたが、昨今の個人情報の漏洩等の事件・事故が頻繁に取りざたされている状況に鑑み、私どもは改めて個人情報を保護、管理することが弊社の事業活動の根幹に関わる責務であることを再確認し、全ての従業員が以下の項目について取り組むべく宣言いたします。
        %ol
          %li
            当社は事業の内容及び規模を考慮した、適切な個人情報の取得、利用、及び提供をいたします。
            %br
            また、特定された利用目的の達成に必要な範囲を超えた個人情報の取り扱いを行わないとともに、そのための措置を講じます。
          %li
            個人情報の管理は厳重に行うこととし、あらかじめご承諾いただいた場合を除き、第三者にデータを開示・提供することはいたしません。
            %br
            また、個人情報に関する不正アクセス、紛失、改ざん、破壊、漏洩を防ぐための適切な処置を行います。
            %br
            また、漏洩等の事件・事故が発生した場合、速やかな対応と原因を調査し、是正します。
          %li
            当社が保有する個人情報の取り扱いに関する法令、国が定める指針その他の規範を遵守いたします。
          %li
            個人情報の取り扱いに関する苦情及び相談の申し出があった場合は、その内容を調査し、迅速な処理に努めます。
          %li
            個人情報保護に関する管理体制と仕組みについての個人情報保護マネジメントシステムの継続的改善を実施いたします。

        %p
          制定日 2007年11月1日
          株式会社 コンピュータアドバイザー
          代表取締役 藤原 俊哉
        %p
          個人情報に関するお問い合わせは、下記までお願いいたします。
        .flex-div
          %p
            〒140-0001
            %br
            東京都品川区北品川２丁目11番1号 ベイテラス北品川２04
            %br
            株式会社 コンピュータアドバイザー
            %br
            個人情報保護管理者 儀保 真也
            %br
            TEL: 03-5769-3155
            %br
            EMAIL: privacy<i class="fa fa-at"></i>cal-tky.co.jp

          = link_to "https://privacymark.jp/", target: "_blank" do
            = image_tag("images/10823626_85_JP.gif")
