.regal
  %header.page-header
    .container
      %h1.page-header__title
        免責事項
  .page-contents
    .container.is-sm
      .is-long-text
        %p
          本サイトの使用及び閲覧は、お客様ご自身のリスク（自己責任）においてなされるものであり、本サイトの作成、頒布等に関わった当社及び関係者は、本サイトまたは本コンテンツへのアクセスまたは使用により発生
          した如何なる損害（コンピュータやネットワークシステムに生じた損害を含み、直接損害・間接損害の別を問いません）やその修復費用等に対して一切の責任を負いません。
