.content-action
  margin-top: 3rem
  +media-breakpoint-down(sm)
    margin-top: 1.5rem

.content-action__inner
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  max-width: 100%

.content-action__description
  p
    +text-block(.875rem 1.6 1rem, center $main-color)
    +media-breakpoint-down(sm)
      font-size: .75rem

.content-action__link
  display: flex
  align-items: center
  justify-content: center
  +size(20rem 3.5rem)
  max-width: 100%
  +text-block(1rem 1.45, $main-color 600)
  border: solid .0625rem $main-color
  transition: all .2s ease-in
  &:hover
    background-color: $main-color
    color: $reversal-text
  &.is-reversal
    color: $reversal-text
    border-color: $reversal-text
    &:hover
      background-color: $reversal-text
      color: $main-color
