.footer-nav
  flex: 100
  +media-breakpoint-down(md)
    width: 100%
    margin-bottom: 1rem

.footer-nav__items
  display: flex
  align-items: center
  justify-content: flex-end
  +media-breakpoint-down(md)
    display: block

.footer-nav__item
  +padding(horizontal, .5rem)
  +media-breakpoint-down(md)
    +padding(horizontal, 0)

.footer-nav__item-link
  +text-block(.8125rem 1.45, $reversal-text)
  +hover-link
  +media-breakpoint-down(md)
    display: flex
    height: 2.75rem
    border-bottom: solid .0625rem rgba(white, .4)
    align-items: center
    +padding(horizontal, $container-horizontal-padding-md)
  +media-breakpoint-down(sm)
    +padding(horizontal, $container-horizontal-padding-sm)
