.home-about__body
  max-width: 680px
  +margin(horizontal, auto)

.home-about-author
  margin-top: 1rem

.home-about-author__image
  +size(7.5rem)
  display: block
  +margin(horizontal, auto)
  border-radius: 50%

.home-about-author__info
  text-align: center
  margin-top: 1rem

.home-about-author__position
  +text-block(.75rem 1.45)

.home-about-author__name
  margin-top: .5rem
  +text-block(1rem 1.45)
