.home-recruit
  background-image: image_url("sample-recruit-bg.jpg")
  background-size: cover
  background-position: top center
  +padding(vertical, 3rem)
  +position(relative)

.home-recruit__inner
  +position(relative, 1)

.home-recruit__title
  +text-block(2rem 1.45 .75rem, 700 $reversal-text center)

.home-recruit__body
  p
    +text-block(1rem 1.6, $reversal-text center)
