.home-method-features
  margin-top: 3rem
  +media-breakpoint-down(sm)
    margin-top: -1rem

.home-method-features__items
  display: flex
  +margin(horizontal, -1.5rem)
  +media-breakpoint-down(sm)
    display: block
    +margin(horizontal, 0)

.home-method-features-item
  +padding(horizontal, 1.5rem)
  flex: 0 0 33.33%
  +media-breakpoint-down(sm)
    display: block
    +padding(horizontal, 0)
    &:not(:last-child)
      margin-bottom: 1.5rem

.home-method-features-item__header
  margin-bottom: 1rem

.home-method-features-item__image
  width: 11rem
  display: block
  margin: 0 auto
  margin-bottom: 1.5rem
  +media-breakpoint-down(sm)
    width: 8rem
    margin-bottom: 1rem

.home-method-features-item__title
  +text-block(1.125rem 1.45, 600 center)
  +media-breakpoint-down(sm)
    font-size: .875rem

.home-method-features-item__body
  p
    +text-block(.875rem 1.6, center)
    +media-breakpoint-down(sm)
      font-size: .75rem

.home-method-features-item__footer
  margin-top: .25rem
  display: flex
  justify-content: center

.home-method-features-item__footer-link
  +text-block(.875rem 1.45)
  +hover-link-reversal
  color: $main-color


//
  .home-method-features
    margin-top: 3rem

  .home-method-features-item
    display: flex
    &:not(:last-child)
      margin-bottom: 1.5rem
    +media-breakpoint-down(sm)
      display: block

  .home-method-features-item__header
    flex: 0 0 18rem
    display: flex
    justify-content: flex-end
    padding-right: 1.5rem
    +media-breakpoint-down(sm)
      justify-content: center
      padding-right: 0
      margin-bottom: .75rem

  .home-method-features-item__title
    +text-block(1.125rem 1.45, 600)
    +media-breakpoint-down(sm)
      font-size: 1rem

  .home-method-features-item__body
    padding-left: 1.5rem
    .home-method-features-item:nth-child(1) &
      border-left: solid .25rem #a7d8df
      +media-breakpoint-down(sm)
        border-left-width: 0
    .home-method-features-item:nth-child(2) &
      border-left: solid .25rem #e9d1b8
      +media-breakpoint-down(sm)
        border-left-width: 0
    .home-method-features-item:nth-child(3) &
      border-left: solid .25rem #badfc0
      +media-breakpoint-down(sm)
        border-left-width: 0
    p
      +text-block(.875rem 1.6)
      +media-breakpoint-down(sm)
        font-size: .75rem
    +media-breakpoint-down(sm)
      padding-left: 0
      border-left-width: 0
