.home-content
  border-bottom: solid .0625rem #d9d9d9
  +padding(vertical, 3rem 3.5rem)

.home-content__header
  margin-bottom: 1.75rem

.home-content__title
  +text-block(2rem 1.4, center $main-color 700)

.home-content__sub-title
  +text-block(1rem 1.45 2rem, center $default-text 600)
  margin-top: 1rem
