.main-visual
  background-color: #206193
  +position(relative)
  overflow: hidden
  height: 400px
  +media-breakpoint-down(md)
    height: auto
  +media-breakpoint-down(sm)
    height: auto
  .container
    +position(relative, 3)

.main-visual__video
  +size(100% auto)
  +position(absolute, left 0, top -60%)
  +media-breakpoint-down(xl)
    +position(top -40%)
  +media-breakpoint-down(lg)
    +position(top -30%)
  +media-breakpoint-down(md)
    +position(top -20%)
  +media-breakpoint-down(sm)
    +position(top -10%)
  +media-breakpoint-down(xs)
    +position(top 0)
  &.is-video
    z-index: 2
    +media-breakpoint-down(sm)
      display: none
  &.is-image
    z-index: 1

.main-visual__inner
  height: 25rem
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  +padding(vertical, 1.5rem)
  +position(relative, 1)
  +media-breakpoint-down(md)
    height: auto
    +padding(vertical, 4rem)
  +media-breakpoint-down(sm)
    height: auto
    +padding(vertical, 2rem)

.main-visual__text
  color: $reversal-text

.main-visual__site-title-image
  +size(21rem auto)
  +media-breakpoint-down(md)
    width: 18rem
  +media-breakpoint-down(xs)
    width: 10rem
