.page-contents
  +padding(vertical, 2rem 3rem)
  +media-breakpoint-down(sm)
    +padding(vertical, 1rem 2rem)

.page-contents__item
  &:not(:last-child)
    margin-bottom: 3.5rem
  &.is-short-description
    margin-bottom: 2rem
    p
      +text-block(.875rem 1.6, center)
    +media-breakpoint-down(sm)
      margin-bottom: 1.5rem
      p
        +text-block(.75rem 1.6, left)
        br
          display: none

.page-contents__item-title
  +text-block(1.5rem 1.45 1.25rem, 700)
  +position(relative)
  padding-left: 1.25rem
  +padding(vertical, .125rem)
  +media-breakpoint-down(sm)
    font-size: 1.125rem
  &::before
    content: ""
    +position(absolute, left 0, top 0, bottom 0)
    width: .375rem
    +main-background
    border-radius: .125rem

.page-contents__action
  margin-top: 1rem
  display: flex
  align-items: center
  justify-content: center
  .page-contents__item &
    margin-top: 2rem
